.label {
  height: 0.75rem;
}
.label__main {
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 6rem;
  background-image: linear-gradient(#a7a7a7, #575757);
  border-radius: 10rem;
  border: 2px #acacac solid;
}

.label__main--active {
  background-image: linear-gradient(#d396ff, #6200ff);
  border: 2px #e4c0ff solid;
}
.label__main__icon {
  margin-left: 0.5rem;
}
.label__main__text {
  color: #fff;
  font-family: "Youshebiaotihei";
  text-align: center;
  width: 100%;
  font-size: 0.8rem;
}
