.level1__question--1 {
  position: absolute;

  left: 40vw;
  top: 289vw;
}
.level1__question--2 {
  position: absolute;

  left: 70vw;
  top: 276vw;
}
.level1__question--3 {
  position: absolute;

  left: 30vw;
  top: 260vw;
}
.level1__question--4 {
  position: absolute;

  left: 30vw;
  top: 230vw;
}
.level1__question--5 {
  position: absolute;

  left: 60vw;
  top: 197vw;
}
.level1__question--6 {
  position: absolute;

  left: 12vw;
  top: 178vw;
}
.level1__question--7 {
  position: absolute;

  left: 45vw;
  top: 165vw;
}
.level1__question--8 {
  position: absolute;

  left: 70vw;
  top: 140vw;
}
.level1__question--9 {
  position: absolute;

  left: 10vw;
  top: 120vw;
}
.level1__question--10 {
  position: absolute;

  left: 40vw;
  top: 105vw;
}
