.link {
  position: fixed;
  z-index: 6;
  left: 50vw;
  transform: translateX(-50%);
  top: 40vh;
  width: 80vw;
  text-align: center;
  height: 20vh;
  background-color: #0062a1;
  box-shadow: rgba(0, 0, 0, 0.4) 0 0 60px 30px;
  border-radius: 1rem;
  border: 4px #fff solid;
  color: #fff;
  padding-top: 7vh;
}
