.profile{
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  position: relative;
}
.profile__background {
  position: absolute;

  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 50% 50%;
  z-index: -1;
}

.profile__title {
  font-family: "Youshebiaotihei", sans-serif;
  color: #fff;
  font-size: 3.5rem;

  margin-top: 1rem;

  width: 100%;
  text-align: center;
}
.profile__icons {
  display: flex;
  justify-content: space-around;
}
.profile__icon {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.profile__icon--img {
  display: flex;
  flex: 1;
  justify-content: center;
  height: 3rem;
  width: 3rem;
}
.profile__icon--img img {
  object-fit: contain;
}
