.profile {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  position: relative;
}
.profile__background {
  position: absolute;

  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 50% 50%;
  z-index: -1;
}

.profile__title {
  font-family: "Youshebiaotihei", sans-serif;
  color: #fff;
  font-size: 3.5rem;

  margin-top: 1rem;

  width: 100%;
  text-align: center;
}
.profile__icons {
  width: 100vw;
  display: flex;
  justify-content: space-around;
}
.profile__icon {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.profile__icon--img {
  display: flex;
  flex: 1;
  justify-content: center;
  height: 3rem;
  width: 3rem;
}
.profile__icon--img img {
  width: 60%;
  height: auto;
}
.profile__buttonContainer {
  padding: 0 0.5rem 0 0.5rem;
  width: 100%;
  display: flex;
  position: absolute;
  bottom: 3.5rem;
  justify-content: space-around;
}

.profile__img {
  position: absolute;
  left: 50vw;
  top: 11rem;
  transform: translateX(-50%);
  background-color: #0062a1;
  border: 3px solid #fff;
  border-radius: 1rem;
  width: 90vw;
  height: calc(100vh - 20rem);
  overflow: hidden;
}
.profile__img img {
  width: 90vw;
  height: calc(100vh - 20rem);
  /* width: 100%; */
  object-fit: cover;
  object-position: center center;
}
