.ranking__background {
  position: absolute;

  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 50% 50%;
  z-index: -1;
}
.ranking__title {
  font-family: "Youshebiaotihei", sans-serif;
  color: #fff;
  font-size: 3.5rem;

  margin-top: 1rem;

  width: 100%;
  text-align: center;
}

.ranking__container {
  background-color: #0062a1;
  height: calc(100vh - 16rem);
  width: 90%;
  border-radius: 20px;
  border: #fff solid 3px;
  margin: 1rem auto;
}

.ranking__row {
  color: #fff;
  font-family: "Youshebiaotihei";
  display: flex;
  justify-content: space-around;
  margin: 1rem 1rem;
}
.ranking__row--head {
  text-align: center;
  flex: 1;
}
.ranking__row--nickname {
  text-align: center;
  flex: 2;
}
.ranking__row--energy {
  flex: 1;
  text-align: center;
}
.ranking__list {
  height: calc(100vh - 20rem);
  overflow-y: scroll;
}
.ranking__item {
  color: #fff;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  margin: 1rem 1rem;
}

.ranking__item--head {
  flex: 1;
  display: flex;
  justify-content: center;
}
.ranking__item--head img {
  width: 60%;
  border-radius: 50%;
  overflow: hidden;
}
.ranking__item--nickname {
  text-align: center;
  flex: 2;
  font-size: 1.5rem;
  font-family: "Youshebiaotihei";
}

.ranking__item--energy {
  flex: 1;
  text-align: center;

  font-size: 1.5rem;
}

.ranking__buttonContainer {
  padding: 0 0.5rem 0 0.5rem;
  width: 100%;
  display: flex;
  position: absolute;
  bottom: 3.5rem;
  justify-content: space-around;
}
