.start { 

    height: 100vh;
    width: 100vw;
    overflow: hidden;
    overflow-x: hidden;
}
.start__background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 50%;
    z-index: -1;
}

.start__title {
    width: 100%;
    padding: 1rem 2rem 0 2rem;
}

.start__text{
    text-align: end;
    color: #fff;
    padding-right: 2rem;
    font-size: 0.8rem;
    margin-top: -1rem;
}

.start__buttonContainer{
    padding: 0 0.5rem 0 0.5rem;
    width: 100%;
    display: flex;
    position: absolute;
    bottom: 3.5rem;
    justify-content: space-around;
}


.start__planet{
    width: 40%;
    position:absolute;
}

.start__planet--1{
   bottom: 9rem;
   left: 2rem;

}

.start__planet--2{

    width: 55%;
    bottom: 18rem;
    left: 11rem;
    animation: float 6s alternate-reverse infinite linear;
}

.start__planet--3{
    width: 42%;
    bottom: 23rem;
    left: 1rem;
    animation: float 4s alternate-reverse infinite linear;
 }
 
.start__planet--4{
    width: 45%;
    bottom: 1rem;
    left: 9rem;
    animation: float 2s  alternate-reverse infinite  linear;
    z-index: -1;
   
}

.start__planet--5{
    width: 30%;
    bottom: 15rem;
    left: 0.5rem;
}


@keyframes float {
    0%{
        transform: translateY(10px) rotate(5deg);
    }
    100%{
        transform: translateY(0px) rotate(0deg);
    }
}